<div ng-controller="navbarController" class="navbar" id="nav-wrap">
	<div class="nav-container">
		<ul class="wsite-menu-default">
			<li class="wsite-menu-item-wrap">
				<a href="http://www.thestew.com.au" class="wsite-menu-item">
					Home
				</a>
				
			</li>
			<li id="pg635821494192261140" class="wsite-menu-item-wrap">
				<a href="http://www.thestew.com.au/students.html" data-membership-required="0" class="wsite-menu-item">
					Students
				</a>
				
			</li>
			<li id="pg347136579498522421" class="wsite-menu-item-wrap">
				<a href="http://www.thestew.com.au/organisations.html" data-membership-required="0" class="wsite-menu-item">
					Organisations
				</a>
				
			</li>
			<li id="pg891344213137621782" class="wsite-menu-item-wrap">
				<a href="http://www.thestew.com.au/about.html" data-membership-required="0" class="wsite-menu-item">
					About
				</a>
				
			</li>
			<li id="pg125722972148769870" class="wsite-menu-item-wrap">
				<a href="http://www.thestew.com.au/contact.html" data-membership-required="0" class="wsite-menu-item">
					Contact
				</a>
			</li>
			<li id="active" id="pg125722972148769870" class="wsite-menu-item-wrap">
				<a href="/#/ data-membership-required="0" class="wsite-menu-item">
					Sign Up
				</a>
			</li>
			<li ng-hide="user" id="pg125722972148769870" class="wsite-menu-item-wrap">
				<a href="/#/login" data-membership-required="0" class="wsite-menu-item">
					Admin
				</a>
			</li>
			<li ng-show="user" id="pg125722972148769870" class="wsite-menu-item-wrap">
				<a href="/#/admin" data-membership-required="0" class="wsite-menu-item">
					Admin
				</a>
			</li>
			<li ng-show="user"> 
				<a href="" ng-click="logout()" class="wsite-menu-item">
					Logout
				</a>
			</li>

		</ul>
	</div>
</div>
