<ng-include src=" 'static/js/views/navbar.html' "></ng-include>

<form name="form" role="form" novalidate
	class="ng-scope ng-invalid ng-invalid-required ng-dirty"
	ng-submit="create()">
	
	<div class="row">
		<img id="formHeader" alt="" src="static/img/logoVFd.png"/>
	</div>
	
	<h3>General Information</h3>

	<div class="row">
		<div class="form-group col-xs-7 col-sm-7 col-md-7">
			<label>Given Name/s</label><span class="form-required">*</span>
		
			<input type="text" class="form-control" name="first_name"
				ng-model="stewdent.first_name" ng-required="true"
				ng-maxlength=100 ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/"
				/>
			<span class="error" ng-show="form.first_name.$error.minlength">Must be at least 0 characters.</span>
			<span class="error" ng-show="form.first_name.$error.maxlength">Must be at most 100 characters.</span>
			<span class="error" ng-show="form.first_name.$error.pattern">Must only contain alphanumeric characters.</span>
		</div>
		
		<div class="form-group col-xs-5 col-sm-5 col-md-5">
			<label>Last Name</label><span class="form-required">*</span>
			
			<input type="text" class="form-control" name="last_name"
				ng-model="stewdent.last_name" ng-required="true"
				ng-maxlength=100 ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/"
				/>
			<span class="error" ng-show="form.last_name.$error.minlength">Must be at least 0 characters.</span>
			<span class="error" ng-show="form.last_name.$error.maxlength">Must be at most 100 characters.</span>
			<span class="error" ng-show="form.last_name.$error.pattern">Must only contain alphanumeric characters.</span>
		</div>
	</div>
        
	<div class="row">
		<div class="form-group col-xs-3 col-sm-3 col-md-3">
			<label for="gender">Gender</label>
			<select class="form-control" ng-init="stewdent.gender = genders[0]" id="" name="gender" ng-model="stewdent.gender" ng-options="opt for opt in genders" required>
			</select>
			
		</div>
		
		<div class="form-group col-xs-3 col-sm-3 col-md-3">
			<label for="dob">DOB</label><span class="form-required">*</span>
			<input type="text" placeholder="DD/MM/YYYY" class="form-control" name="dob" ui-date="dobDateOptions" ui-date-format="yy-mm-dd" 
				ng-model="stewdent.dob" ng-required="true" />
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-xs-7 col-sm-7 col-md-7">
			<label>University</label><span class="form-required">*</span>
			<input type="text" class="form-control" name="university"
				ng-model="stewdent.university" ng-required="true"
				ng-maxlength=300 ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/"
				/>
			<span class="error" ng-show="form.university.$error.minlength">Must be at least  characters.</span>
			<span class="error" ng-show="form.university.$error.maxlength">Must be at most 300 characters.</span>
			<span class="error" ng-show="form.university.$error.pattern">Must only contain alphanumeric characters.</span>
		</div>
		
		<!-- <div class="form-group col-xs-5 col-sm-5 col-md-5">
		<label>Student Number</label>
		<input type="text" class="form-control" name="student_num"
		ng-model="stewdent.student_num" ng-required="false"
		ng-minlength=0 ng-maxlength=50/>
		<span class="error" ng-show="form.student_num.$error.minlength">Must be at least 0 characters.</span>
		<span class="error" ng-show="form.student_num.$error.maxlength">Must be at most 50 characters.</span>
		</div> -->
		
	</div>
        
	<div class="form-group">
		<label>Degree/s (including Majors)</label><span class="form-required">*</span>
		
		<input type="text" class="form-control" name="degree"
			ng-model="stewdent.degree" ng-required="true" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/"
			ng-maxlength=500 placeholder="eg. B Engineering (Mechanical)"/>
		<span class="error" ng-show="form.degree.$error.minlength">Must be at least  characters.</span>
		<span class="error" ng-show="form.degree.$error.maxlength">Must be at most 500 characters.</span>
		<span class="error" ng-show="form.degree.$error.pattern">Must only contain alphanumeric characters.</span>
	</div>
        
	<div class="row">
		<!-- <div class="form-group col-xs-6 col-sm-6 col-md-6">
		<label>Date of Commencement</label><span class="form-required">*</span>
		<input type="text" class="form-control" placeholder="YYYY" name="start_year" ui-date="uniYearDateOptions" ui-date-format="yyyy" 
		ng-model="stewdent.start_year" ng-required="true"/>
		</div> -->
		
		<div class="form-group col-xs-3 col-sm-3 col-md-3">
			<label>Year of Commencement</label><span class="form-required">*</span>
			<input type="text" class="form-control" placeholder="YYYY" ng-pattern="/\b\d{4}\b/" name="start_year" 
				ng-model="stewdent.start_year" ng-required="true" ng-maxlength=4 />
			<span style="color: red" ng-show="form.start_year.$dirty && form.start_year.$invalid">
				<span class="error" ng-show="form.start_year.$error.pattern">Start year is invalid.</span>
				<span class="error" ng-show="form.start_year.$error.maxlength">Must be at most 4 characters.</span>
			</span>
		</div>
		
		<div class="form-group col-xs-3 col-sm-3 col-md-3">
			<label>Expected year of graduation</label><span class="form-required">*</span>
			<!-- <input type="text" class="form-control" placeholder="DD/MM/YYYY" name="end_year" ui-date="end_yearDateOptions" ui-date-format="yy-mm-dd" 
			ng-model="stewdent.end_year" ng-required="true"/> -->
			<input type="text" class="form-control" placeholder="YYYY" ng-pattern="/\b\d{4}\b/" name="end_year" 
				ng-model="stewdent.end_year"  ng-maxlength=4 ng-required="true" invalid-year="{{ stewdent.start_year }}" />
			<span style="color: red" ng-show="form.end_year.$invalid">
				<span class="error" ng-show="form.end_year.$error.pattern">End year is invalid.</span>
				<span class="error" ng-show="form.end_year.$error.maxlength">Must be at most 4 characters.</span>
				<span class="error" ng-show="form.end_year.$error.invalidYear">Graduation year cannot be earlier than Commencement.</span>
			</span>
		</div>
	</div>
        
	<div class="row">

		<!-- <div class="form-group col-xs-3 col-sm-3 col-md-3">
		<label>Occupation</label>
		<input type="text" class="form-control" name="occupation"
		ng-model="stewdent.occupation" ng-required="false"
		ng-minlength=0 ng-maxlength=100/>
		<span class="error" ng-show="form.occupation.$error.minlength">Must be at least 0 characters.</span>
		<span class="error" ng-show="form.occupation.$error.maxlength">Must be at most 100 characters.</span>
		</div> -->
		
		<div class="form-group col-xs-3 col-sm-3 col-md-3">
			<label>Phone Number</label>
			
			<input type="text" class="form-control" name="phone_num"
				ng-model="stewdent.phone_num" ng-required="false"
				ng-maxlength=50 ng-pattern="/^[0-9]*$/"
				/>
			<span class="error" ng-show="form.phone_num.$error.minlength">Must be at least  characters.</span>
			<span class="error" ng-show="form.phone_num.$error.maxlength">Must be at most 50 characters.</span>
			<span class="error" ng-show="form.phone_num.$error.pattern">Must only contain number characters.</span>
		</div>
		
		<div class="form-group col-xs-6 col-sm-6 col-md-6">
			<label>Email</label><span class="form-required">*</span>
			<input type="email" class="form-control" name="student_email"
				ng-model="stewdent.email" ng-required="true"
				ng-maxlength=100 ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"/>
			<span style="color:red" ng-show="form.student_email.$dirty && form.student_email.$invalid">
				<span ng-show="form.student_email.$error.invalid">Email is invalid.</span>
				<span class="error" ng-show="form.student_email.$error.required">Email is required.</span>
				<span class="error" ng-show="form.student_email.$error.pattern">Email is invalid.</span>
				<span class="error" ng-show="form.student_email.$error.email">This email format is invalid!</span>
				<span class="error" ng-show="form.student_email.$error.minlength">Must be at least characters.</span>
				<span class="error" ng-show="form.student_email.$error.maxlength">Must be at most 100 characters.</span>
			</span>
		</div>
		
	</div>
        
	<!-- <div class="form-group">
	<label>Street Adddress</label>
	
	<input type="text" class="form-control" name="address"
	ng-model="stewdent.address" ng-required="false"
	ng-maxlength=200/>
	<span class="error" ng-show="form.address.$error.minlength">Must be at least  characters.</span>
	<span class="error" ng-show="form.address.$error.maxlength">Must be at most 200 characters.</span>
	</div>
	-->
	<div class="row">
		<div class="form-group col-xs-6 col-sm-6 col-md-6">
			<label>City</label><span class="form-required">*</span>
			
			<input type="text" class="form-control" name="city"
				ng-model="stewdent.city" ng-required="true"
				ng-maxlength=100 ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/"
				/>
			<span class="error" ng-show="form.city.$error.minlength">Must be at least  characters.</span>
			<span class="error" ng-show="form.city.$error.maxlength">Must be at most 100 characters.</span>
			<span class="error" ng-show="form.city.$error.pattern">Must only contain alphanumeric characters.</span>
		</div>
		
		<div class="form-group col-sm-3 col-xs-3 col-md-3">
			<label>State</label><span class="form-required">*</span>

			<select class="form-control" ng-model="stewdent.state" ng-init="stewdent.state = states[0]"
				ng-options="opt for opt in states" id="" name=""></select>
			
			
		</div>
		
		<div class="form-group col-xs-3 col-sm-3 col-md-3">
			<label>Post Code</label>
			
			<input type="text" class="form-control" name="post_code"
				ng-model="stewdent.post_code" ng-required="false"
				ng-maxlength=5 ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/"
				/>
			<span class="error" ng-show="form.post_code.$error.minlength">Must be at least  characters.</span>
			<span class="error" ng-show="form.post_code.$error.maxlength">Must be at most 5 characters.</span>
			<span class="error" ng-show="form.post_code.$error.pattern">Must only contain alphanumeric characters.</span>
		</div>
		
	</div>

	<div class="row">
		<div class="form-group col-xs-4 col-sm-4 col-md-4">
			<label>Country of Residence</label><span class="form-required">*</span>
			
			<input type="text" class="form-control" name="country"
				ng-model="stewdent.country" ng-required="true"
				ng-maxlength=100 ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/"
				/>
			<span class="error" ng-show="form.country.$error.minlength">Must be at least  characters.</span>
			<span class="error" ng-show="form.country.$error.maxlength">Must be at most 100 characters.</span>
			<span class="error" ng-show="form.country.$error.pattern">Must only contain alphanumeric characters.</span>
		</div>
	</div>
        
	<h3>Skills</h3>

	<p>
		The information you provide in this section will help us find projects that are best suited to you. We need to know about the skills you have developed through uni, self-teaching, your job or any other aspect of your life. You don’t need professional experience with these skills – that’s what we’re here to help you find. Tick each category you feel skilful in and enter the details/relevant software in the two boxes beside.		
	</p>
	
	
	<div class="form-group container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<input ng-model="creativeCheck" name="" type="checkbox" value=""/>
					<label for="">Creative Design</label>
				</div>
			</div>
			<div class="col-xl-10 col-xm-10 col-md-10">
				<div class="row">
					<div class="col-md-1 center glyphicon glyphicon-question-sign" tooltip-html-unsafe="{{ toolTipOne }}" tooltip-placement="right"></div>
					<input ng-disabled="!creativeCheck" ng-model="skills.creativeDesignSkill" name="creativeDesignSkill" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" ng-maxlength=1000 class="col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.creativeDesignSkill.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.creativeDesignSkill.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
				<div class="row">
					<div class="col-md-1 glyphicon glyphicon-question-sign" tooltip-html-unsafe="{{ toolTipTwo }}" tooltip-placement="right"></div>
					<input ng-disabled="!creativeCheck" ng-model="skills.creativeDesignSoft" name="creativeDesignSoft" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" ng-maxlength=1000 class="col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.creativeDesignSoft.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.creativeDesignSoft.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<input ng-model="techCheck" name="" type="checkbox" value=""/>
					<label for="">Tech Design</label>
				</div>
			</div>
			<div class="col-xl-10 col-xm-10 col-md-10">
				<div class="row">
					<input ng-disabled="!techCheck" ng-model="skills.techDesignSkill" ng-maxlength=1000  name="techDesignSkill" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.techDesignSkill.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.techDesignSkill.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
				<div class="row">
					<input ng-disabled="!techCheck" ng-model="skills.techDesignSoft" ng-maxlength=1000  name="techDesignSoft" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.techDesignSoft.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.techDesignSoft.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<input ng-model="progCheck" name="" type="checkbox" value=""/>
					<label for="">Programming/IT</label>
				</div>
			</div>
			<div class="col-xl-10 col-xm-10 col-md-10">
				<div class="row">
					<input ng-disabled="!progCheck" ng-model="skills.itSkill" ng-maxlength=1000  name="itSkill" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.itSkill.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.itSkill.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
				<div class="row">
					<input ng-disabled="!progCheck" ng-model="skills.itSoft" ng-maxlength=1000  name="itSoft" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.itSoft.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.itSoft.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<input ng-model="marketCheck" name="" type="checkbox" value=""/>
					<label for="">Online Marketing</label>
				</div>
			</div>
			<div class="col-xl-10 col-xm-10 col-md-10">
				<div class="row">
					<input ng-disabled="!marketCheck" ng-model="skills.marketSkill" ng-maxlength=1000 name="marketSkill" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.marketSkill.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.marketSkill.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
				<div class="row">
					<input ng-disabled="!marketCheck" ng-model="skills.marketSoft" ng-maxlength=1000 name="marketSoft" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.marketSoft.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.marketSoft.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<input ng-model="writeCheck" name="" type="checkbox" value=""/>
					<label for="">Writing </label>
				</div>
			</div>
			<div class="col-xl-10 col-xm-10 col-md-10">
				<div class="row">
					<input ng-disabled="!writeCheck" ng-model="skills.writingSkill" ng-maxlength=1000 name="writingSkill" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.writingSkill.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.writingSkill.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
				<div class="row">
					<input ng-disabled="!writeCheck" ng-model="skills.writingSoft" ng-maxlength=1000 name="writingSoft" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.writingSoft.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.writingSoft.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<input ng-model="mediaCheck" name="" type="checkbox" value=""/>
					<label for="">Video/Music</label>
				</div>
			</div>
			<div class="col-xl-10 col-xm-10 col-md-10">
				<div class="row">
					<input ng-disabled="!mediaCheck" ng-model="skills.mediaSkill" ng-maxlength=1000 name="mediaSkill" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.mediaSkill.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.mediaSkill.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
				<div class="row">
					<input ng-disabled="!mediaCheck" ng-model="skills.mediaSoft" ng-maxlength=1000 name="mediaSoft" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.mediaSoft.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.mediaSoft.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<input ng-model="financeCheck" name="" type="checkbox" value=""/>
					<label for="">Financial</label>
				</div>
			</div>
			<div class="col-xl-10 col-xm-10 col-md-10">
				<div class="row">
					<input ng-disabled="!financeCheck" ng-model="skills.financeSkill" ng-maxlength=1000 name="financeSkill" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.financeSkill.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.financeSkill.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
				<div class="row">
					<input ng-disabled="!financeCheck" ng-model="skills.financeSoft" ng-maxlength=1000 name="financeSoft" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.financeSoft.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.financeSoft.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<input ng-model="researchCheck" name="" type="checkbox" value=""/>
					<label for="">Research/Analysis</label>
				</div>
			</div>
			<div class="col-xl-10 col-xm-10 col-md-10">
				<div class="row">
					<input ng-disabled="!researchCheck" ng-model="skills.researchSkill" ng-maxlength=1000 name="researchSkill" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.researchSkill.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.researchSkill.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
				<div class="row">
					<input ng-disabled="!researchCheck" ng-model="skills.researchSoft" ng-maxlength=1000 name="researchSoft" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.researchSoft.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.researchSoft.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<input ng-model="personCheck" name="" type="checkbox" value=""/>
					<label for="">In Person</label>
				</div>
			</div>
			<div class="col-xl-10 col-xm-10 col-md-10">
				<div class="row">
					<input ng-disabled="!personCheck" ng-model="skills.personalSkill" ng-maxlength=1000 name="personalSkill" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.personalSkill.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.personalSkill.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
				<div class="row">
					<input ng-disabled="!personCheck" ng-model="skills.personalSoft" ng-maxlength=1000 name="personalSoft" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.personalSoft.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.personalSoft.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="row">
					<input ng-model="otherCheck" name="" type="checkbox" value=""/>
					<label for="">Other</label>
				</div>
			</div>
			<div class="col-xl-10 col-xm-10 col-md-10">
				<div class="row">
					<input ng-disabled="!otherCheck" ng-model="skills.otherSkill" ng-maxlength=1000 name="otherSkill" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.otherSkill.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.otherSkill.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
				<div class="row">
					<input ng-disabled="!otherCheck" ng-model="skills.otherSoft" ng-maxlength=1000 name="otherSoft" ng-pattern="/^[a-zA-Z0-9.,(){}\- ]*$/" class="col-md-offset-1 col-xl-offset-1 col-sm-offset-1 col-xl-11 col-sm-11 col-md-11" name="" type="text" value=""/>
					<span class="error" ng-show="form.otherSoft.$error.maxlength">Must be at most 1000 characters.</span>
					<span class="error" ng-show="form.otherSoft.$error.pattern">Must only contain alphanumeric characters.</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="spoken_languages">Spoken Languages</label><span class="form-required">*</span>
		<input class="form-control" name="spoken_languages" type="text" value="" ng-pattern="/^[a-zA-Z0-9.,(){};\- ]*$/"
			ng-model="skills.languages_spoken" ng-required="true" maxlength=300
			/>
		<span class="error" ng-show="form.spoken_languages.$error.maxlength">Must be at most 300 characters.</span>
		<span class="error" ng-show="form.spoken_languages.$error.pattern">Must only contain alphanumeric characters.</span>
	</div>

	<div class="form-group">
		<label for="programming_languages">Programming Languages</label>
		<input class="form-control" name="programming_languages" type="text" value=""
			ng-model="skills.languages_coding" ng-required="false" ng-maxlength=3000 ng-pattern="/^[a-zA-Z0-9.,(){};\- ]*$/"
			/>
		<span class="error" ng-show="form.programming_languages.$error.maxlength">Must be at most 3000 characters.</span>
		<span class="error" ng-show="form.programming_languages.$error.pattern">Must only contain alphanumeric characters.</span>
	</div>
	

	<div class="form-group col-md-8">
		<div class="checkbox">
			<label for="agreeId">
				<input  id="agreeId" class="checkbox style-2 pull-right" type="checkbox" ng-model="agreeCheck" ng-required="true" content-one required name="agree" value="" />
				You agree this information is correct and that you are currently enrolled in an Australian university
			</label>
		</div>
	</div>
	
	<div>
		<ul ng-repeat="error in errors">
			<li class="bg-danger"><p class="bg-danger">{{ error }}</p></li>
		</ul>
	</div>
	
	
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="cancel()">Cancel
		</button>
		<button type="submit" id="stewdentSubmit" ng-disabled="form.$invalid" class="btn btn-primary">Submit</button>
	</div>
</form>

<span us-spinner spinner-key="spinner-1"></span>

<script type="text/ng-template" id="thankyou-modal.html">
	<div id="modalText">
		<p>
			Thank you for signing up for the Stew.  We'll be in contact soon.
		</p>
		<br/>
		<button class="btn btn-primary" type="submit" ng-click="ok()">Close</button>
	</div>
</script>
