<h1>Welcome to The Stew!</h1>

<p>
	You are now officially on the Stewdent database where a future of exciting freelancing and
	career development opportunities await. As the management team contract suitable 
	projects, we will contact you directly via email to discuss your involvement.	
</p>
<p>
	If you would like to update any of your information just email us with the details.
</p>
<p>
	We need your help to grow The Stew as fast as possible, as the amount of projects depend 
	on this growth. So please spread the work, get your friends to signup and share the 
	website/Facebook page.
</p>

<button class="btn btn-primary" ng-click="ok()">Close</button>
