<div id="infoModal">
	<div class="container-fluid">
		<ul id="infoList">
			<div class="row">
				<li class="col-md-4 rowName">Name:</li>
				<li class="col-md-8">{{stewdent.first_name}} {{ stewdent.last_name }}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Gender: </li>
				<li class="col-md-8">{{stewdent.gender}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Date of Birth:</li>
				<li class="col-md-8">{{stewdent.dob}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Address: </li>
				<li class="col-md-8">{{stewdent.address}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">City: </li>
				<li class="col-md-8">{{stewdent.city}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">State: </li>
				<li class="col-md-8">{{stewdent.state}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Post Code: </li>
				<li class="col-md-8">{{stewdent.post_code}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Country:</li>
				<li class="col-md-8">{{stewdent.country}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Email:</li>
				<li class="col-md-8">{{stewdent.email}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Phone Number:</li>
				<li class="col-md-8">{{stewdent.phone_num}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Occupation:</li>
				<li class="col-md-8">{{stewdent.occupation}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Commencement Year:</li>
				<li class="col-md-8">{{stewdent.start_year}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Graduation Year:</li>
				<li class="col-md-8">{{stewdent.end_year}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Degree/s:</li>
				<li class="col-md-8">{{stewdent.degree}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Student Number:</li>
				<li class="col-md-8">{{stewdent.student_num}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">University:</li>
				<li class="col-md-8">{{stewdent.university}}</li>
			</div>

			<div class="row">
				<li class="col-md-4 rowName">Spoken Languages:</li>
				<li class="col-md-8">{{stewdent.languages_spoken}}</li>
			</div>

			
			<div class="row">
				<li class="col-md-4 rowName">Creative Design Skill:</li>
				<li class="col-md-8">{{stewdent.creativeDesignSkill}}</li>
			</div>
			<div class="row">
				<li class="col-md-4 rowName">Creative Design Software:</li>
				<li class="col-md-8">{{stewdent.creativeDesignSoft}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Financial Skills:</li>
				<li class="col-md-8">{{stewdent.financeSkill}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Financial Software:</li>
				<li class="col-md-8">{{stewdent.financeSoft}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Programming/IT Skills:</li>
				<li class="col-md-8">{{stewdent.itSkill}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Programming/IT Software:</li>
				<li class="col-md-8">{{stewdent.itSoft}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Marketing Skills:</li>
				<li class="col-md-8">{{stewdent.marketSkill}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Marketing Software:</li>
				<li class="col-md-8">{{stewdent.marketSoft}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Video/Audio Skills:</li>
				<li class="col-md-8">{{stewdent.mediaSkill}}</li>
			</div>
			
			
			<div class="row">
				<li class="col-md-4 rowName">Video/Audio Software:</li>
				<li class="col-md-8">{{stewdent.mediaSoft}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Personal Skills:</li>
				<li class="col-md-8">{{stewdent.personalSkill}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Personal Software:</li>
				<li class="col-md-8">{{stewdent.personalSoft}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Research Skills;</li>
				<li class="col-md-8">{{stewdent.researchSkill}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Research Software:</li>
				<li class="col-md-8">{{stewdent.researchSoft}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Tech Design Skills:</li>
				<li class="col-md-8">{{stewdent.techDesignSkill}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Tech Design Software:</li>
				<li class="col-md-8">{{stewdent.techDesignSoft}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Writing Skills:</li>
				<li class="col-md-8">{{stewdent.writingSkill}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Writing Software:</li>
				<li class="col-md-8">{{stewdent.writingSoft}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Other Skills:</li>
				<li class="col-md-8">{{stewdent.otherSkill}}</li>
			</div>
			
			<div class="row">
				<li class="col-md-4 rowName">Other Software:</li>
				<li class="col-md-8">{{stewdent.otherSoft}}</li>
			</div>
			

			<div class="row">
				<li class="col-md-4 rowName">Programming Languages:</li>
				<li class="col-md-8">{{stewdent.languages_coding}}</li>
			</div>

		</ul>
		<button id="adminModalClose" class="center-block btn btn-danger" ng-click="close()">Close</button>
	</div>
</div>
